@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bdb5b5;
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;

  /* Cores do projeto */
  --cor-primaria: #745540;
  --cor-texto-escuro: #5f4c36;
  --cor-texto-claro: #6e6d6b;
  --cor-botao-verde: #98b98b;
  --cor-botao-verde-hover: #a7c49a;
  --cor-destaque-verde: #5db388;
  --cor-texto-principal: #2b2316;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f2f0;
    --foreground: #f7f2f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inconsolata", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box; /*Para fazer a fluidez do site */
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth; /* Rolagem suave ao clicar um botão e etc*/
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}
