.img {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  z-index: 0;
  filter: blur(10px) brightness(1.1);
  scale: 1.1;
}

.divTexto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  text-align: center;
  font-weight: bold;
  padding: 0 2rem;
}

.titulo-principal {
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.subtitulo {
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  color: #5f4c36;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.texto {
  font-size: clamp(0.9rem, 2vw, 1.5rem);
  color: #6e6d6b;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.botao {
  padding: 1.3rem 1.5rem;
  margin-top: 2rem;
  border-radius: 40px;
  background-color: #5db388;
  color: #284a34;
  font-weight: bolder;
  transition: background-color 0.2s ease;
}

.botao:hover {
  background-color: #4a9a72; /* cor mais escura ao passar o mouse */
  cursor: pointer;
  transform: translateY(-3px); /* sobe 3px */
  transition: transform 0.2s ease;
}

.divCards {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}

.divVendas {
  display: flex;
  justify-content: center;
  gap: 13rem;
  margin-top: 3rem;
  padding: 0 4rem;
}

.sub-texto {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  color: #5f4c36;
  gap: 0.5rem;
  align-items: center;
}

/* ÁREA MOBILE */

@media (max-width: 768px) {
  .img {
    height: 90svh; /* small viewport height */
  }
  .backgroundImage {
    object-position: center center; /*centraliza a imagem */
  }
  .divCards {
    gap: 3rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .divVendas {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    margin-top: 0;
    align-items: stretch;
  }
  .sub-texto {
    margin-top: 1rem;
  }
}
