.img {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  object-fit: cover;
  z-index: 0;
  filter: blur(10px) brightness(1.1);
  scale: 1.1;
}

.divTexto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  text-align: center;
  font-weight: bold;
}

.titulo-principal {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.subtitulo {
  font-size: 2.5rem;
  color: #3a2b1b;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

.texto {
  font-size: 1.5rem;
  color: #5f4c36;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.botao {
  padding: 1.3rem 1.5rem;
  margin-top: 2rem;
  border-radius: 40px;
  background-color: #5db388;
  color: #284a34;
  font-weight: bolder;
  transition: background-color 0.2s ease;
}

.botao:hover {
  background-color: #4a9a72; /* cor mais escura ao passar o mouse */
  cursor: pointer;
  transform: translateY(-3px); /* sobe 3px */
  transition: transform 0.2s ease;
}

.divCards {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.divVendas {
  display: flex;
  justify-content: center;
  gap: 12rem;
  margin-top: 3rem;
}

.sub-texto {
  display: flex;
  margin-left: 80%;
  color: #5f4c36;
  gap: 0.5rem;
  align-items: center;
}
